$tablet: 850px;
$smartphone: 500px;
$primaryColor: #fda82b;
$secondaryColor: #272c42;
$blackColor: #0e0e0e;
$grayColor: #707070;
$whiteColor: #ffffff;
$shadow: 0px 5px 6px #00000033;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

.course-preview {
  max-width: 25em;
  width: 100%;
  margin: 2em 0em;
  margin-left: 0;
  cursor: pointer;
  img {
    width: 100%;
  }
  h1 {
    font-size: 1.8em;
    letter-spacing: 0.1em;
    margin: 1em 0;
  }
  p {
    color: $blackColor;
    font-weight: 100;
    margin: 0.5em 0;
  }
  .duration_price,
  .rating_tag {
    margin: 2em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .duration_price {
    span {
      font-size: 1.3em;
    }
    .duration {
      font-weight: 100 !important;
    }
    .price {
      font-size: 2em;
    }
  }
  .rating_tag {
    img {
      width: 40%;
    }
    .tag {
      background-color: #cfcffa;
      color: #3f3fed;
      padding: 1em 1.5em;
    }
  }
}
