$small-laptop-screen: 1400px;
$tablet: 1200px;
$smartphone: 500px;
$primaryColor: #ff8715;
$secondaryColor: #272c42;
$blackColor: #0e0e0e;
$grayColor: #707070;
$whiteColor: #ffffff;
$shadow: 0px 3px 6px #0000001f;

// Mixin
@mixin small-laptop-screen {
  @media (max-width: #{$small-laptop-screen}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}
@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  background: $whiteColor;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1em 5%;
  padding-top: 2em;
  z-index: 6;
  .logo {
    img {
      width: 15em;
    }
  }
  nav {
    @include small-laptop-screen() {
      margin-left: auto;
    }
    @include tablet() {
      display: none;
    }
    display: flex;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
    align-items: center;
    height: 6em;
    .nav-links {
      display: flex;
      margin: auto;
      text-align: center;
      .nav-link {
        margin: 0px 3em;
        list-style: none;
        a {
          font-weight: normal;
          font-size: 1.3em;
          line-height: 1.8em;
          font-weight: 100 !important;
          // text-decoration: none;
          white-space: nowrap;
          &:hover {
            color: $primaryColor;
          }
        }
      }
    }
  }
}

.nav-btns {
  height: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  .register-btn,
  .instructor_register-btn,
  .my-dashboard-btn {
    background-color: $primaryColor;
    // text-decoration: none;
    color: $whiteColor;
    padding: 0 2em;
    line-height: 5em;
    font-weight: 600;
    // margin-right: 2em;
    white-space: nowrap;
  }
  .instructor_register-btn,
  .my-dashboard-btn {
    background-color: $secondaryColor;
  }
}
