$tablet: 850px;
$smartphone: 500px;
$primaryColor: #ff8715;
$secondaryColor: #272c42;
$blackColor: #0e0e0e;
$grayColor: #707070;
$whiteColor: #ffffff;
$shadow: 0px 5px 6px #00000033;

// Mixin
@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin smartphone {
  @media (max-width: #{$smartphone}) {
    @content;
  }
}

.homepage {
  .hero {
    height: 90vh;
    padding: 0 5%;
    display: flex;
    align-items: center;
    background-image: linear-gradient(#000000c0, #000000b0),
      url("../../assets/bg1.jpg");
    background-position: center;
    background-size: cover;
    margin-bottom: 5em;
    .hero_content {
      h1 {
        font-size: 3.5em;
        letter-spacing: 0.1em;
        color: $whiteColor;
        span {
          color: $primaryColor;
        }
      }
      .get_started {
        cursor: pointer;
        margin-top: 4em;
        background-color: $secondaryColor;
        color: $whiteColor;
        display: flex;
        justify-content: space-between;
        padding-left: 2em;
        height: 4em;
        align-items: center;
        width: 15em;
        &:hover {
          img {
            transform: translateX(0.3em);
          }
        }
        button {
          cursor: pointer;
          background-color: darken($color: $primaryColor, $amount: 10);
          border: none;
          height: 100%;
          width: 4em;
          img {
            height: 1.4em;
            width: 1.4em;
            transition: all 0.2s ease-in-out;
          }
        }
      }
    }
  }
  .courses {
    width: 90%;
    margin: auto;
    .heading {
      // text-align: center;
      margin: 2em 0;
      h2 {
        font-size: 2.5em;
      }
    }
    .courses-nav {
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        li {
          padding: 2em;
          font-size: 1.3em;
          cursor: pointer;
          margin: 0 1em;
        }
      }
    }
    // .courses_container {
    //   justify-content: center;
    // }
  }
}
